@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F5F7FB;
    padding: 0px 20px;
    overflow-x: hidden;
}
/* .app-container {
    background: #F5F7FB;
} */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-quiz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
}

.start-quiz-wrapper h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 37px;
    text-align: center;
    color: #293264;
    margin-bottom: 20px;
}

.start-quiz-wrapper p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 19px;
    text-align: center;
    color: #293264;
}

.start-quiz-wrapper button {
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;
    background: #4D5B9E;
    border-radius: 15px;
    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    cursor: pointer;
}

.top-design {
    position: fixed;
    /* position: absolute; */
    width: 250px;
    height: 250px;
    /* right:-50px;
    top: -20px; */
    background: #FFFAD1;
    transform: rotate(-129.49deg);
    /* border-top-left-radius: 25%; */
    z-index: -1;
}
.bottom-design {
    position: fixed;
    /* position: absolute; */
    width: 330px;
    height: 280px;
    /* left:-50px;
    bottom: -20px; */
    transform: rotate(25.49deg);
    background: #DEEBF8;    
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 35%;
    z-index: -1;
}

.quiz-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question {
    margin-left: 30px;
    margin-top: 40px;
    width: 75%;
}


.question ul{
  display: flex;
  width: 85%;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: yellow; */
}

li {
    list-style: none;
    padding: 15px 8px;
    text-align: center;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 4px;
}

hr {
    margin: 20px 0;
}

.check-answers {
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;
    background: #4D5B9E;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    cursor: pointer;
}

.loading {
    margin-top: 250px;
}

.quiz-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    flex-wrap: wrap;

}

.bottom-text {
    font-size: 1.2rem;
    margin-top:10px;

}
.play-again {
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    cursor: pointer;
    margin:0 10px;
    margin-top:10px;
}
